<section class="py-8 py-lg-11 text-center overflow-hidden" id="studio-funfact">
  <div class="bg-holder overlay overlay-1 " style="background: url(<%= asset_path 'banner4.1.jpg' %>) no-repeat; background-size: cover;" data-rellax-percentage="0.5">
  </div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="text-white"><span class="text-sans-serif font-weight-bold display-4" data-countup="3108">3108</span>
          <p class="font-italic">Projets financés</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mt-3 mt-sm-0">
        <div class="text-white"><span class="text-sans-serif font-weight-bold display-4" data-countup="516">516</span>
          <p class="font-italic">Artistes aidés</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
        <div class="text-white"><span class="text-sans-serif font-weight-bold display-4" data-countup="287">287</span>
          <p class="font-italic">Mécènes heureux</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
        <div class="text-white"><span class="text-sans-serif font-weight-bold display-4" data-countup="567644">567 644</span>
          <p class="font-italic">Euros reversés</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
