<section id="studio-features-1">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-9 col-xl-8">
        <h2 class="text-underline mb-3 fs-3 fs-sm-4">La création relancée</h2>
        <p class="lead text-500 font-italic">Rendre l'art au peuple en lui ouvrant ses portes.</p>
      </div>
    </div>
    <div class="row pt-6">
      <div class="col-md-6 col-lg pr-md-6">
        <%= image_tag "icon-teamwork.svg", height:"70" %>
        <h3 class="mt-4 mb-2">Mécènes</h3>
          <p class="text-justify"> Les portes du monde de l'art s'ouvrent à vous, vous en devenez acteur en soutenant le projet d'un artiste séléctioné par nos soins, recevez 45% des profits réalisés par celui-ci et participez à nos évenements afin de lier des liens
            étroits avec celui-ci.</p>
        <h4 class="mt-4">Opportunités</h4>
        <ul class="bullet-inside pl-0 text-sans-serif">
          <li></li>
          <li>Profits financiers</li>
          <li>Entrée dans le mode de l'art</li>
          <li>Participation aux évenements</li>
        </ul>
      </div>
      <div class="col-md-6 col-lg mt-6 mt-md-0 pr-md-6">
        <%= image_tag "icon-startup.svg", height:"70" %>
        <h3 class="mt-4 mb-2">Artistes</h3>
        <p class="text-justify">Vôtre vision du monde est exposée au plus grand nombre sur une platforme d'artistes triés sur le volet. Vos projets sont financés par des investisseurs passionnés qui croient en vous et votre vision. Vous exposerez où vous le désirez
           et recevrez 50% des bénéfices réalisés.</p>
        <h4 class="mt-4">Opportunités</h4>
        <ul class="bullet-inside pl-0 text-sans-serif">
          <li>Visibilité de vôtre</li>
          <li>Profits financiers</li>
          <li>Participation aux évenements</li>
        </ul>
      </div>
      <div class="col-md-6 col-lg mt-6 mt-lg-0 pr-md-6">
        <%= image_tag "icon-target.svg", height:"70" %>
        <h3 class="mt-4 mb-2">Nous</h3>
        <p class="text-justify">Notre mot d'ordre est la transparence, nous nous reversons 5% des bénéfices réalisés afin de tout mettre en oeuvre pour que l'artiste et l'acheteur soient pleinement épanouis.
          Rendre l'art au peuple en créant un lien étroit entre l'artiste et l'acheteur passionné est la mission que nous nous somme fixés </p>

      </div>
    </div>
    <%= link_to "Simulez vos revenus", '/home/simulate', class:"btn btn-danger btn-financement" %>
  </div>
</section>
