<section id="studio-features-1">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-9 col-xl-8">
        <h2 class="text-underline mb-3 fs-3 fs-sm-4">make your mark</h2>
        <p class="lead text-500 font-italic">When we say that hosting your event at sparrow studios is an unforgettable moment for your company, brand or product, we mean it.</p>
      </div>
    </div>
    <div class="row pt-6">
      <div class="col-md-6 col-lg pr-md-6">
        <%= image_tag "icon-teamwork.svg", height:"70" %>
        <h3 class="mt-4 mb-2">partnership</h3>
        <p class="text-justify">We will collaborate with you in producing media-facing content, copy, interviews, trade show appearances and advertising. We facilitate exclusive access to our studios and unique experiences throughout the year to showcase your product to
          your current and potential clients in premier spaces.</p>
        <h4 class="mt-4">opportunities</h4>
        <ul class="bullet-inside pl-0 text-sans-serif">
          <li>Strategy Pairing</li>
          <li>Academy Awards</li>
          <li>Contesting</li>
          <li>Licensing</li>
          <li>High-def Audio</li>
        </ul>
      </div>
      <div class="col-md-6 col-lg mt-6 mt-md-0 pr-md-6">
        <%= image_tag "icon-startup.svg", height:"70" %>
        <h3 class="mt-4 mb-2">content opportunities</h3>
        <p class="text-justify">A unique opportunity to pair your brand with ours. Branded content opportunities with Sparrow studios offer your fans legendary experiences thorough candid performances, one-of-a-kind content &amp; town hall events. Sparrow studios is a
          fully equipped video facility; we offer video capabilities, live streaming &amp; webcasting for all our events.</p>
        <h4 class="mt-4">opportunities</h4>
        <ul class="bullet-inside pl-0 text-sans-serif">
          <li>Sponsored Content</li>
          <li>Interviews</li>
          <li>Artist Performances</li>
          <li>Showcases</li>
          <li>1 Mic 1 Take</li>
          <li>Top of the Tower</li>
          <li>Town Halls</li>
        </ul>
      </div>
      <div class="col-md-6 col-lg mt-6 mt-lg-0 pr-md-6">
        <%= image_tag "icon-target.svg", height:"70" %>
        <h3 class="mt-4 mb-2">experiential</h3>
        <p class="text-justify">Events at Sparrow studios offer a truly unique, exclusive space with legendary appeal. Providing premiere event spaces and amenities for hosting formal parties, VIP red carpet events or artist showcases within the setting of the mid-century
          architecture of Sparrow studios. To hold an event here is to become a part of our legacy.</p>
        <h4 class="mt-4">opportunities</h4>
        <ul class="bullet-inside pl-0 text-sans-serif">
          <li>Product Launches</li>
          <li>Press Events</li>
          <li>Seminars &amp; Demos</li>
          <li>Event Viewing Parties</li>
          <li>Record Release Events</li>
          <li>High-def Audio</li>
        </ul>
      </div>
    </div>
  </div>
</section>
