<!--===============================================-->
<!--    Modal for language selection-->
<!--===============================================-->
<div class="remodal bg-black remodal-select-language" data-remodal-id="language">
  <div class="remodal-close" data-remodal-action="close"></div>
  <ul class="list-unstyled pl-0 my-0 py-4 text-sans-serif">
    <li>
      <a class="pt-1 d-block text-white font-weight-semi-bold" href="#">English</a>
    </li>
    <li>
      <a class="pt-1 d-block text-500" href="#">Français</a>
    </li>
    <li>
      <a class="pt-1 d-block text-500" href="page-rtl.html">عربى</a>
    </li>
    <li>
      <a class="pt-1 d-block text-500" href="#">Deutsche</a>
    </li>
  </ul>
</div>
