<!--===============================================-->
<!--    Modal for language selection-->
<!--===============================================-->
<div class="remodal bg-black remodal-select-language" data-remodal-id="language">
  <div class="remodal-close" data-remodal-action="close"></div>
  <ul class="list-unstyled pl-0 my-0 py-4 text-sans-serif">
    <li>
      <%= link_to 'English', '/', class:'pt-1 d-block text-white font-weight-semi-bold' %>
    </li>
    <li>
      <%= link_to 'Francais', '/', class:'pt-1 d-block text-white font-weight-semi-bold' %>
    </li>
  </ul>
</div>
