<% content_for :title do %>
  Manifesto
<% end %>

<section class="text-center py-0">
  <div class="container">
    <div class="row minh-100vh align-items-center justify-content-center">
      <div data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}'>
        <h1 class="text-dark display-4 mb-4 ste-name">Kyllt.</h1>
        <div class="text-dark display-4 mb-4 manifesto-text">
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>Dans un monde exsangue, la création devrait être leitmotiv!<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>Cette optique salvatrice nous a poussé à repenser la société,<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>à remettre en question le fonctionnement d'un marché asseptisé, celui de l'Art.<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'> Actuellement inaccessible, fermé et galvaudé<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>il nécéssite un renouveau.<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>Ce dernier doit ouvrir ses portes au monde, rendre les rennes<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>à celui qui sait l'apprécier et le vivre, au peuple.<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>Voila pourquoi, avec Kyllt, nous souhaitons que tout un chacun puisse<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>à sa discrétion soutenir la création sans pour autant se retrouver lésé.<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>Afin d'intéresser d'avantage l'investisseur et permettre aux artistes<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>de se dévouer au maximum à leur art, nous souhaitons que nos mécènes<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>financent entièrement la vie de leurs artistes qui eux<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>reverseront par la suite un dividende à la vente de leurs œuvres<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>au prorata du financement de chacun.<br/><br/></h2>
          <h2 data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>Nous souhaitons fabriquer un monde prolifique d'échanges en faveur de la culture!<br/></h2>
        </div>
        <div data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}' class=" col-auto">
          <%= link_to "Rejoignez nous dès maintenant !", home_index_path, class:"btn btn-danger btn-block joinus" %>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
