<section class="text-center py-0">

        <div class="container">
          <div class="row minh-100vh align-items-center justify-content-center">
            <div>
              <h1 class="text-dark display-4 mb-4 ste-name">Kyllt.</h1>
              <h1 class="text-dark display-4 mb-4 manifesto-text">
                <span class="manifesto-1">Lorem ipsum dolor sit amet, consectetur adipisicing</span><br/>
                <span class="manifesto-2"> elit, sed do eiusmod tempor incididunt ut labore et </span><br/>
                <span class="manifesto-3">dolore magna aliqua. Ut enim ad minim veniam, quis </span><br/>
                <span class="manifesto-4">nostrud exercitation ullamco laboris nisi ut aliquip </span><br/>
                <span class="manifesto-5">ex ea commodo consequat.Lorem ipsum dolor sit </span><br/>
                <span class="manifesto-6">amet, consectetur adipisicing elit, sed do eiusmod </span><br/>
                <span class="manifesto-7">tempor incididunt ut labore et dolore magna aliqua.</span><br/>
                <span class='manifesto-8'> Ut enim ad minim veniam, quis nostrud exercitation</span><br/>
                <span class="manifesto-9"> ullamco laboris nisi ut aliquip ex ea commodo </span><br/>
                <span class="manifesto-10">consequat. Duis aute irure dolor in reprehenderit in </span><br/>
                <span class="manifesto-11">voluptate velit esse cillum dolore eu fugiat nulla </span><br/>
                <span class="manifesto-12">pariatur.</h1>
              <div class="col-auto">
                <a class="btn btn-danger btn-block joinus" href="home/index">Join us NOW!</a>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
