<% content_for :title do %>
  Oops - 500
<% end %>

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" id="page-404">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 px-0 order-lg-2">
        <div class="sticky-top h-lg-100vh py-9">
          <div class="bg-holder gif-500" style=background<%= link_to image_tag ('http://media.topito.com/wp-content/uploads/2013/01/code-13.gif'), width:"800" %>
          </div>
          <!--/.bg-holder-->
        </div>
      </div>
      <div class="col-lg-6 bg-white py-6">
        <div class="row h-100 align-items-center justify-content-center">
          <div class="col-lg-8">
            <h1 class="display-4 fs-2 fs-lg-3 fs-xl-4"><span class="d-block overflow-hidden pb-1"><span class="d-inline-block" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">Notre serveur prend </span></span><span class="d-block overflow-hidden pb-1"><span class="d-inline-block" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">l'eau, </span></span>
              <span
                class="d-block overflow-hidden pb-1"><span class="d-inline-block" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">Quittez le navire!</span></span>
            </h1>

            <div class="overflow-hidden">
              <p class="fs-1 mt-4" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll"></p>
            </div>
            <div class="overflow-hidden">
              <div data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">
                <%= link_to 'Accueil', '/', class:'btn btn-outline-dark mt-6 mb-1' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
