<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons afin de vous informer que votre email est modifié par  <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons afin de vous informer que votre email a été modifié par <%= @resource.email %>.</p>
<% end %>
